.searchBarDiv {
    
    margin: auto;
    padding-top: 25px;
    flex-grow: 2;
}

.searchBarDiv i {
    color:red;
    padding-left: 20px;
    cursor: pointer;
}
.searchBar {
    background-color: #fff2e6;
    
    min-width: 200px;
    width: 50%;
}
